@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Desktop view*/

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    height: 200px;

    h1 {
        font-family: PT Serif;
        font-weight: 700;
        font-size: 36px;
        align-self: center;
        letter-spacing: -0.045em;
    }
    
    h2, span {
        font-family: Poppins;
        font-size: 18px;
    }

    h2 {
        margin-top: 6%;
    }
    
    span {
        font-weight: 400;
        line-height: 27px;
        width: 439px;
        display: block;
        margin-top: 10px;
    }
}

.container {
    display: flex;
    margin-left: 11.5%;
    width: 950px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;

    img {
        width: 238px;
        height: 341px;
    }

    h4 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
    }

    span {
        font-family: Poppins;
        font-weight: 400;
        font-size: 12px;
        writing-mode: vertical-lr;
        position: absolute;
        height: 200px;
    }

    .skylah, .stan {
        margin-top: 5%;
    }

    .saba, .griff {
        margin-top: 10%;
    }

}

footer {
    text-align: center;
    margin-top: 100px;
    color: lightgray;
    font-family: Montserrat;
    font-size: 14px;
    padding-bottom: 20px;
}

/*Mobile view*/


@media screen and (max-width: 375px) {
    .title {
        flex-direction: column;
        
        h1 {
            justify-content: start;
            align-self: flex-start;
            margin-top: 5%;
            margin-left: 2%;
            font-size: 30px;
        }

        h2 {
            margin-left: 2%;
            font-size: 16px;
            span {
                font-size: 12px;
                line-height: 18px;
                width: 290px;
            }
        }
        
    }

    .container {
        margin-left: 1%;
        width: 265px;

        img {
            width: 120px;
            height: 180px;
        }

        h4 {
            font-size: 14px;
        }

        span {
            font-size: 10px;
        }

        .saba {
            margin-top: 20%;
        }

        .shae {
            margin-top: 5%;
        }

        .skylah {
            margin-top: 20%;
        }

        .stan {
            margin-top: 25%;
        }
    }

    footer {
        text-align: unset;
        margin-left: 10%;
    }
}

